flask
flask-cors 
firebase-admin 
python-dotenv 
PyMuPDF
pytesseract
Pillow 
scikit-learn 
numpy 
torch==2.10.0+cpu
transformers
sentencepiece 
google-genai 
fpdf2 
spacy 
nltk 
rouge-score
flask-login
dotenv
extensions
accelerate